.about-container {
  height: 80vh;
  background-color: transparent;
  display: flex;

}

.about-left-back {
  background-image: url(../img/suraj.jpg);
  background-size: cover;

  @media screen and (max-width: $mobile-max) {
    background-image: url(../img/suraj.jpg);

  }
}
.about-right-back {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  // background-image: url(../img/modeld.jpg);
  background-size: cover;
  @media screen and (max-width: $mobile-max) {
    // background-image: url(../img/modelm.jpg);
    padding: 0;
    font-size: 1rem;

  }


}
