.works-container {
  height: 50vh;
  background-color: transparent;
  display: flex;
}
.box {
  display: flex;
  margin: auto;
  h1 {
    color: $brand-color;
    font-size: 2rem;
    text-transform: uppercase;
  }
}
.top-left {
  // background-image: url("../img/banner.jpg");
  background-color: $lw;
}
.top-right {
  // background-image: url("../img/dj.jpg");
  background-color: $mid-grey;
}
.bottom-left {
  background-color: $dark-grey;
}
.bottom-right {
  background-color: $bg-color;
}
