.page-footer {

  margin:0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    color: $mid-grey;
  }
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
    flex-direction: column;
    padding: 1rem 4rem;
    background-color: $lw;
  }
  @media screen and (max-width: $mobile-max){
    flex-direction: column;
    padding: 1rem 4rem;
    background-color: $lw;

  }
  .rights {
    font-size: 0.8rem;
  }
}
